@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 100% 80%; /* Light blue */
    --foreground: 271 76% 53%; /* Purple */
    --card: 210 100% 90%;
    --card-foreground: 271 76% 53%;
    --muted: 210 100% 85%;
    --muted-foreground: 271 76% 53%;
    --nav-foreground: 0 0% 100%;
    --border: 0 0% 0%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 100% 70%;
    --foreground: 271 76% 63%;
    --card: 210 100% 75%;
    --card-foreground: 271 76% 63%;
    --muted: 210 100% 70%;
    --muted-foreground: 271 76% 63%;
    --border: 0 0% 0%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
